* {
	padding: 0;
	margin: 0;
}
body, html {
	height: 100%;
	width: 100%;
	font-family: "Helvetica";
}
header {
	height: 60px;
	background-color: #000;
}
header h1{
	display: inline;
	color: #fff;
	line-height: 60px;
}
#PageTitle {
	float: left;
	padding-left: 40px;
}
#Logout {

}
#Wrap {
	width: 1250px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
}
#Content {
	padding: 100px;
}
#Row {
	display: inline-block;
	height: 300px;
	width:1200px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	margin-left: -30px;
}
